.container {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.container p {
  /* margin: 0; */
}

.container img {
  /* margin-top: 10px; */
}

img.mugshot {
  border-radius: 100px;
  border: 8px solid var(--colour-grey-100);
  object-fit: cover;
  margin-right: 20px;
}

.links {
  list-style: none;
  margin: 0 0 0 12px;
  padding: 0;

  text-transform: uppercase;
  font: 700 2rem var(--font-lateef);
}

.links li {
  line-height: 2.25rem;
}

.links li a {
  display: block;
}

a.linkedIn:hover {
  opacity: var(--hover-opacity);
}

a.linkedIn img {
  display: block;
}

/* ul.aboutMeList {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 1rem;
}

ul.aboutMeList li {
  position: relative;
  padding-left: 40px;
  line-height: 1.2;
  margin-bottom: 10px;
}

ul.aboutMeList li::before {
  content: url("../assets/icons/check_box.svg");
  position: absolute;
  left: 0;
  top: 40%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  vertical-align: middle;
} */

@media only screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
    justify-content: center;
    .mugshot {
      margin: 0 0 20px;
      width: 70px;
      height: 70px;
    }
    .linkedIn img {
      height: auto;
      width: 80px;
    }
  }
}

@media only screen and (max-width: 650px) {
  .container {
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 20px;
    .mugshot {
      border-width: 4px;
      margin: 0 20px 0 0;
      width: 48px;
      height: 48px;
    }
    .linkedIn img {
      height: 50px;
      width: auto;
    }
  }
}
