.header {
  display: flex;
  place-items: center;
  justify-content: space-between;
  border-bottom: var(--border-dash);
  padding: 20px 0;
  margin-bottom: 50px;
}

.header a {
  color: black;
}

.header a:hover {
  color: var(--colour-hotpink);
}

.mugshot img {
  object-fit: cover;
  border-radius: 100px;
  border: 4px solid var(--colour-grey-100);
  width: 48px;
  height: 48px;
}
