@import "./mixins.module.css";

.header {
  /* width: 80%;
  margin: 40px auto; */
  composes: centreContent from "./mixins.module.css";
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 0 20px;
  border-bottom: var(--border-dash);
}

.hapistax {
  display: flex;
  align-items: flex-end;
  /* font-family: var(--font-lexend-peta); */
  font: 700 2rem var(--font-lexend-peta);
}

.i {
  /* font-size: 2rem; */
  color: #6aa84f;
  font-weight: 400;
}

.contact {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  font-family: monospace;
  color: purple;
}