.hapistax {
  display: inline-flex;
  align-items: flex-end;
  /* font-family: var(--font-lexend-peta); */
  font: 700 2rem var(--font-lexend-peta);
}

.i {
  font-size: 2.75rem;
  font-family: var(--font-lateef);
  color: #6aa84f;
  font-weight: 800;
  line-height: .8;
  padding: 0 2px;
}