.container {
  width: 45%;
}

span.intro {
  font-size: 2rem;
  margin: 0;
  line-height: 3rem;
  color: var(--colour-grey-700);
}

.highlight {
  font-weight: bold;
  color: var(--colour-green);
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 90%;
  }
}

@media only screen and (max-width: 650px) {
  .container {
    width: 100%;
  }
}
