.container {
  display: flex;
  gap: 150px;
}

.mainContent {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h2 {
  font: 600 2.8rem var(--font-lateef);
  line-height: 2rem;
}

.header h3 {
  font: 400 2.4rem var(--font-lateef);
  line-height: 2rem;
  margin-top: 18px;
}

.timeline {
  font: 200 1.1rem var(--font-inter);
  text-transform: uppercase;
}

.header button {
  display: flex;
  align-items: center;
  gap: 6px;
  border-width: 0;
  background-color: var(--colour-grey-100);
  border-radius: 5px;
  font: 300 1rem var(--font-inter);
  text-transform: uppercase;
  padding: 10px;
  color: var(--colour-grey-600);
}

.header button:hover {
  background-color: var(--colour-grey-200);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.description {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 2rem;
}

.description h5 {
  margin: 0;
  font: 200 1.2rem var(--font-inter);
  text-transform: uppercase;
}

.description p {
  margin-top: 0;
}

.description a {
  text-decoration-style: dotted;
  color: var(--colour-blue);
  text-decoration-thickness: 2.5px;
}

.description a:hover {
  text-decoration-color: var(--colour-hotpink);
}

.description ul {
  padding-left: 16px;
  list-style: circle;
}

.description li {
  margin-top: 18px;
}

.description strong {
  font-weight: 600;
}

.sidebar {
  display: block;
  flex-direction: column;
}

.projectImage {
  display: flex;
  width: 350px;
  height: 300px;
  box-shadow: 2px 2px 8px -4px rgba(94, 93, 93, 0.87);
}

.projectImage img {
  object-fit: cover;
  margin: auto;
}

.projectImage:hover {
  opacity: var(--hover-opacity);
}

.recommendations {
  margin: 40px 0 0;
  padding: 0;
}

.recommendationsHeading {
  line-height: 1.4rem;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1.2rem;
}

.recommendationsLink {
  display: block;
  margin-top: 20px;
  text-transform: uppercase;
}

@media only screen and (max-width: 1024px) {
  .mainContent {
    gap: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 20px;
  }

  .projectImage {
    display: none;
  }
}
