.recommendationsHeading {
  display: flex;
  align-items: center;
  gap: 4px;
}

.recommendation p {
  font-size: 1.1rem;
  line-height: 1.8rem;
}

.recommendation blockquote {
  width: 50%;
  background-color: var(--colour-grey-050);
  border-left: 8px solid var(--colour-grey-200);
  border-radius: 10px;
  padding: 10px 40px;
  margin: 30px 0 40px 20px;
}

@media only screen and (max-width: 1024px) {
  .recommendation blockquote {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .recommendation blockquote {
    width: 80%;
  }
}

@media only screen and (max-width: 425px) {
  .recommendation blockquote {
    padding: 10px 20px;
    margin-left: 0;
  }
}
