@media only screen and (min-width: 0) {
  .row {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .heading {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 2rem;
    color: var(--colour-grey-900);
    margin: 24px 0;
  }

  a.link {
    text-decoration-style: dotted;
    color: var(--colour-blue);
    text-decoration-thickness: 2.5px;
  }

  a.link:hover {
    text-decoration-color: var(--colour-hotpink);
  }

  .headingLink {
    color: var(--colour-grey-700);
    text-decoration: none;
  }

  .headingLink:hover {
    color: var(--colour-grey-500);
    text-decoration: var(--colour-hotpink) underline dotted 3px;
    text-underline-offset: 5px;
  }
}

@media only screen and (min-width: 769px) {
  .row {
    width: 70%;
  }
}

@media only screen and (min-width: 1025px) {
  .row {
    width: 90%;
  }
}

@media only screen and (min-width: 1800px) {
  .row {
    width: 70%;
  }
}
