.toolkit {
  display: inline-flex;
  flex-wrap: wrap;
}

.heading {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.heading img {
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

.heading h4 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1.2rem;
}

.logoContainer {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 8px 8px 0;
  border-radius: 25px;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
}

.logoWrapper {
  width: 30px;
  height: 30px;
  border: 2px solid var(--colour-white);
  border-radius: 4px;
  background-color: var(--colour-white);
}

.logoWrapper img {
  border-radius: 4px;
}

/* a[title]:hover::after {
  content: attr(title);
  background-color: white;
  padding: 5px;
} */
